html * {
  margin: 0px;
  padding: 0px;

}

body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: cover;
  height: cover;
  
}

.header * {
  padding: 8px;
  text-align: center;
  background: #bea925;
  color: DarkRed;
}

.header h1 {
  font-size: 30px;
}

.navbar * {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar h1 {
  height: 48px;
  background-color: #333;
  color: #333;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

h1 {
  text-align: center;
  background-color:#bea925; 
  color:DarkRed;
}

h2 {
  text-align: center;
  background-color:DarkRed;
}

p {
  text-align: center;
  color: White;
  background-color: Black;
}
